
  html{
    width: 100%;
  }

  .container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 12px;
  }

  .container .parts{
    width: 99%;
    height: 99%;
    color: #084a21;
    background-color: white;
    border-radius: 14px;
    border-style: solid;
    border-color: #084a21;
    border-width: 4px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
}
#Title{
  font-size: 35px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.main-image {
  width: 100%;
  height: auto;
  min-height: 5rem;
  max-height: 40rem;
  object-fit: contain;
}
header{
  opacity: 0.7;
}
header:hover{
  opacity: 1;
}
@media only screen and (min-width: 1300px) {
.main-image video {
  transform:  translateY(-10%);
  }
}

@media only screen and (min-width: 1600px) {
  .main-image video {
    transform:  translateY(-15%);
    }
}

@media only screen and (min-width: 1900px) {
  .main-image video {
    transform:  translateY(-20%);
    }
}

@media only screen and (min-width: 2300px) {
  .main-image video {
    transform:  translateY(-25%);
    }
}