

  ul {
    
    list-style-type: none;
    margin-bottom: 10px;
    padding: 2px;
    overflow: hidden;
    background-image: url("https://global-uploads.webflow.com/5e26c6af6f517b92c1a93455/5ec7e42fc6c12c4cd927c08b_african-savanna.jpg");
    background-size: cover;
    background-position: center;
    min-height: 550px;
  }
  
  li {
    float: left;
    font-size: 45px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #084a21;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #147639;
  }

  .container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .container img{
    width: 99%;
    height: 99%;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 14px;
    border-style: solid;
    border-color: #084a21;
    border-width: 4px;
  }
  .container img:hover {
    opacity: 1.0;
  }

  .container a{
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0,0.9); 
    font-size: 28px;
    font-weight: bold;
  }
  .container a:hover{
    color: rgba(0, 0, 0,1);
  }

  .bottom-center {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 1300px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
      }
      li {
        float: left;
        font-size: 40px;
      }
      ul {
        min-height: 450px;
      }
      .container a{
        font-size: 26px;
      }
  }
  @media only screen and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
      }
      li {
        float: left;
        font-size: 30px;
      }
      li a {
        padding: 8px 10px;
      }
      ul {
        min-height: 350px;
      }
      .container a{
        font-size: 24px;
      }
  }
  @media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12,250px);
        grid-gap: 5px;
      }
      .container a{
        font-size: 22px;
      }
      ul {
        min-height: 250px;
        
      }
      li {
        float: left;
        font-size: 25px;
      }
      li a {
        padding: 8px 10px;
      }
  }